<h2>About This Site</h2>
<p>With simplicity in mind, this site exists to be the central landing page for all Zoe Terhune-related content.</p>
<br>
<p>It exists in celebration of her 20th <a href="http://www.wolframalpha.com/input/?i=September+14th,+1996">birthday</a>.</p>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/segal-gould/zoeterhune">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-facebook fa-lg main-list-item-icon"></span>
    <a href="https://www.facebook.com/zoe.terhune">Zoe on Facebook</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter-square fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/zoeterhune">Zoe on Twitter</a>
  </li>
</ul>
